$mainClr: #3292a6;
$mainBlack: #333;
$mainWhitw: #fff;
body {
    font-family: roboto, sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

.navbar-conf {
    border-bottom: 2px solid $mainClr;
    z-index: 10;

    .nav-item {
        margin-left: 15px;
    }

    .nav-link {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

// showcase
.showcase {
    min-height: 750px;
    background-image: url(../images/mizuxe/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    .primary-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: $mainClr;
        opacity: 0.8;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        padding-top: 100px;
    }
}

@media (max-width: 768px) {
    .showcase {
        min-height: 600px;

        h1 {
            font-size: 4rem;
        }
    }
}

.accordion-config {
    a {
        color: #333;
        font-weight: bold;
        i {
            background-color: #333;
            color: white;

            margin-right: 5px;
            padding: 3px;
            border-radius: 50%;
        }
    }
}

.author {
    .card {
        transition: all 0.35s linear;
        img {
            margin: auto;
            margin-top: -25px;
        }
        &:hover {
            background-color: $mainClr;
        }
    }
}

.scrollTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
